@import 'tailwindcss';

/* EB Garamond */
@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EB_Garamond/static/EBGaramond-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EB_Garamond/static/EBGaramond-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EB_Garamond/static/EBGaramond-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EB_Garamond/static/EBGaramond-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Teko */
@font-face {
  font-family: 'Teko';
  src: url('/fonts/Teko/static/Teko-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teko';
  src: url('/fonts/Teko/static/Teko-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teko';
  src: url('/fonts/Teko/static/Teko-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teko';
  src: url('/fonts/Teko/static/Teko-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teko';
  src: url('/fonts/Teko/static/Teko-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-red: #bb1020;
}

body {
  font-family: 'EB Garamond', serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}